# Node modules (DO NOT push these)
client/node_modules/
server/node_modules/

# Environment variables (sensitive info like Mongo URI)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/System files
.DS_Store
Thumbs.db

# Optional: Vite/React build output (if you ever run build)
client/dist/
